#commandPoints {
    float: left;
    width: 50%;
}

#commandLimit {
    font-size: 50px;
}

#commandLimit span.sub-text {
    font-size: 11px;
    display: block;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-weight: 300;
}