/* 
*  Header Styles
*/

header {
    background: #f1f1f1;
    padding: 80px 0px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-align: center;
}

header p {
    font-size: 22px;
    line-height: 40px;
    max-width: 700px;
    margin: 10px auto;
}